<div class="row" style="padding-bottom: 20px">
  <div class="col-lg-2">
    <%= link_to 'Previous week'.html_safe, slots_path(:week => @week-1), :class => "btn btn-default col-lg-12", :disabled => @week == 0 %>
  </div>
  <div class="col-lg-8 text-center">
    <h4>
      <%= @time_slots.keys.first.strftime("%B %d, %Y") %> - <%= @time_slots.keys.last.strftime("%B %d, %Y") %>
    </h4>
  </div>
  <div class="col-lg-2">
    <%= link_to "Next week", slots_path(:week => @week+1), :class => "btn btn-default col-lg-12", :disabled => @week == 4 %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <table class="table table-bordered small">
      <thead>
        <tr>
          <th></th>
          <% @time_slots[@time_slots.keys.first].each do |time_slot| %>
            <th>
              <span class="text-muted"><%= "#{time_slot[:start].localtime.strftime("%H:%M")} - #{time_slot[:finish].localtime.strftime("%H:%M")}" %></span>
            </th>
          <% end %> 
        </tr>
      </thead>

      <tbody>
        <% @time_slots.each do |day,time_slots| %>
          <tr>
            <th>
              <span class="text-muted">
                <%= "#{day.strftime("%A")}" %><br/>
                <%= day %>  
              </span>
            </th>
            <% time_slots.each do |time_slot| %>
              <td class="<%= @booked_slots[time_slot[:start]].nil? && time_slot[:finish] > Time.now - 2.minutes ? "" : "active" %> text-center" style="vertical-align: middle">

                <% if time_slot[:finish] <= Time.now - 2.minutes %>
                  <span class="text-muted" style="opacity: 0.2"><b><i class="fa fa-ban fa-2x" aria-hidden="true"></i></b></span>
                <% elsif @booked_slots[time_slot[:start]].blank? %>
                  <% if current_user.slots.blank? %>
                    <%= link_to '<i class="fa fa-lock fa-lg" aria-hidden="true"></i>'.html_safe, slots_path(:start => time_slot[:start], :finish => time_slot[:finish]), :class => "btn btn-default", :method => :post %>
                  <% end %>
                <% elsif @booked_slots[time_slot[:start]].user == current_user %>
                  <%= link_to '<i class="fa fa-unlock-alt fa-lg" aria-hidden="true"></i>'.html_safe, slot_path(@booked_slots[time_slot[:start]]), :class => "btn btn-default", :method => :delete %>
                <% else %>
                  <span class="text-muted"><h5><%= @booked_slots[time_slot[:start]].room_number %></h5></span>
                <% end %>

              </td>
            <% end %>
          </tr>
        <% end %>     
      </tbody>
    </table>
  </div>
</div>

<% if current_user.slots.length > 0 %>
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-info">
        <h4>Booked slot</h4>
        <p><%= current_user.slots.first.start.localtime.strftime("%B %d, %Y (%A)") %></p>
        <p><%= "#{current_user.slots.first.start.localtime.strftime("%H:%M")} - #{current_user.slots.first.finish.localtime.strftime("%H:%M")}" %></p>
        <p>Door code: <b>1291</b></p>
      </div>
    </div>
  </div>
<% end %>
