<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DKV Laundry</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body class="devise-body">
  
    <div id="wrap">
      <div class="container">
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <%= bootstrap_flash unless notice.blank? && alert.blank? %>
            <div class="text-center" style="margin-top: 50px; margin-bottom: 30px;">
              <h1 class="text-primary"><i class="fa fa-calendar"></i> <b>DKV Laundry</b></h1>
              <h4 class="text-muted">Booking System</h4>
            </div>
            <div class="col-lg-12">
              <%= yield %>
            </div>
          </div>
          <div class="col-lg-4"></div>
        </div>
      </div>
    </div>

  </body>
</html>
